:root {
  --main-color: #fff;
  --main-model-color: #eceff1;
  --container-width: 1920px;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  max-width: var(--container-width);
  overflow-x: hidden;
}

a {
  color: #01579b;
  transition: color .3s ease;
}

a:hover { color: #00b0ff; }

h1 { text-align: center; }

main {
  max-width: var(--container-width);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.error {
  padding: 1rem;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  background-color: #dc2313;
}

.grid-fluid {
  margin: 1rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.header {
  padding: .5rem;
  max-width: var(--container-width);
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--main-color);
}

.header a { text-decoration: none;}

.header > * { margin: 1rem auto; }

.loader {
  margin: 1rem auto;
  display: block;
  width: 20vw;
  max-width: 4rem;
  height: auto;
  max-height: 4rem;
}

.post-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  background-color: var(--main-model-color);
}

.post-card p {
  display: flex;
  justify-content: space-between;
}

.post-page {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  background-color: var(--main-model-color);
}

.post-page > aside {
  margin: auto;
  width: 60%;
  text-align: center;
}

.post-page > hr {
  border: thin solid #cfd8dc
}

.post-page > time {
  margin: 1rem auto;
  display: block;
}

.post-page > article { padding: 0 2rem; }

.post-page figure,
.post-page img,
.post-page audio,
.post-page iframe,
.post-page video {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.search-form {
  margin: auto;
  text-align: center
}

.search-form input {
  margin: .4rem auto;
  padding: .25rem;
  display: inline-block;
  border-radius: .25rem;
  font-size: 110%;
}

.search-form input[type="search"] { margin-bottom: 1rem; }
